extends ../_page

block body
    section.lead
        .container
            .lead__inner
                .lead__picture
                    img.lazy(data-src='../img/team-lead-pic.jpg', alt='Наши услуги')
                .lead__content
                    header.lead__header
                        button.lead__backBtn(type='button', aria-label='Назад')
                            i.icon.paste-sprite-arrow-left-icon
                            span Назад
                        h1.lead__title Специалисты <br>семейной <br>медицины

    include ../_callback-widget

block footer-scripts
    include ../_footer-scripts.html
    include ../_service-page-footer-scripts.html
    script(defer,src='../js/services-page.js')