@media screen and (min-width:991px){
.icon {
  width: 24px;
  height: 24px;
}

.container {
  max-width: 1660px;
  padding: 0 30px;
}

.dot {
  -webkit-clip-path: circle(10px at 10px 48px);
  clip-path: circle(10px at 10px 48px);
}

.only-desktop {
  display: block;
}

.only-mobile {
  display: none;
}

.title {
  font-size: 60px;
  margin-bottom: 50px;
  line-height: 91px;
}

.header-logo svg {
  max-width: 240px;
}

.header-logo #logo-icon {
  -webkit-transform: translate3d(0,0,0)!important;
  transform: translate3d(0,0,0)!important;
}

.hero {
  padding: 40px 0 150px;
}

.hero__inner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__picture {
  width: 50%;
  max-width: 785px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
}

.hero__content {
  padding-right: 95px;
  max-width: 50%;
}

.hero__title {
  font-size: clamp(60px,7vw,80px);
  line-height: clamp(80px,7vw,98px);
  margin-bottom: 20px;
}

.hero__leadText {
  font-size: 18px;
  line-height: 30px;
}

.hero__footer {
  margin-top: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.hero__footer .button+.button {
  margin-top: 0;
  margin-left: 30px;
}

.button:not(.button--big):not(.button--icon) {
  font-size: 20px;
  padding: 18px 26px;
}

.button--big {
  font-size: 30px;
  padding: 18px 50px;
}

.button--icon {
  padding: 16px;
}

.button--telegram {
  padding-left: 15px;
  padding-right: 17px;
}

.button--whatsapp {
  padding-left: 17px;
  padding-right: 15px;
}

.services-widget__title {
  margin-bottom: 20px;
}

.services-widget__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

.services-widget__desktopScrollerListContainer,
.services-widget__servicesListContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

.services-widget__desktopScrollerListContainer-inner,
.services-widget__servicesListContainer-inner {
  width: 800px;
}

.services-widget__servicesListContainer {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-left: 30px;
  max-width: none;
  margin: 0;
}

.services-widget__servicesListContainer-inner {
  padding-right: 60px;
}

.services-widget__desktopScrollerListContainer {
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.services-widget__desktopScrollerListContainer-inner {
  padding-left: 60px;
}

.services-widget__desktopScrollerListContainer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-widget__desktopScrollerListContainer-list li {
  font-size: 40px;
  font-weight: 600;
  opacity: 0;
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
  -webkit-transition: opacity .2s ease-in,-webkit-transform .2s ease-in;
  transition: opacity .2s ease-in,-webkit-transform .2s ease-in;
  transition: opacity .2s ease-in,transform .2s ease-in;
  transition: opacity .2s ease-in,transform .2s ease-in,-webkit-transform .2s ease-in;
}

.services-widget__desktopScrollerListContainer-list li.animate {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.services-widget__desktopScrollerListContainer-list li+li {
  margin-top: 40px;
}

.services-widget__desktopScrollerListContainer-list a {
  text-decoration: none;
  opacity: .5;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
  color: inherit;
}

.services-widget__desktopScrollerListContainer-list a:hover {
  opacity: 1;
}

.services-widget__showMore {
  width: auto;
}

.service-card {
  margin-bottom: -20px;
  padding: 30px;
}

.service-card:first-child {
  margin-top: -20px;
}

.service-card__services {
  display: none;
}

.service-card__title {
  font-size: 30px;
}

.service-card__actions {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.service-card__actionButtonWrap--appointement {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  margin: 0;
}

.service-card__actionButtonWrap--contact {
  margin-left: 30px;
}

.service-card__actionButtonWrap--details {
  margin-left: 30px;
}

.service-card.opened:last-child {
  margin-bottom: 20px;
}

.service-card+.service-card.opened {
  margin-top: 20px;
}

.team-slider {
  padding: 150px 0;
}

.team-slider__title {
  text-align: center;
}

.team-slider__item+.team-slider__item {
  margin-top: 0;
}

.team-slider__allBtn {
  width: auto;
}

.team-slide-card {
  padding: 20px;
  border-radius: 40px;
  background-color: transparent;
}

.team-slide-card__picture {
  border-radius: 20px;
  margin-bottom: 20px;
  max-height: 280px;
  max-width: 280px;
  margin-right: 0;
}

.team-slide-card__tail {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.team-slide-card__footer {
  margin-top: auto;
}

.team-slide-card__description {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.team-slide-card__name {
  text-align: center;
  font-size: 30px;
  line-height: 37px;
}

.team-slide-card__location {
  font-size: 18px;
}

.advantages {
  padding: 100px 0;
}

.advantages__list {
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.advantages__item {
  margin: 0 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.333333%;
  flex: 1 1 33.333333%;
}

.advantages__item-icon {
  width: 160px;
  height: 160px;
  margin-bottom: 20px;
}

.advantages__item-name {
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 20px;
}

.advantages__item-description {
  font-size: 18px;
  line-height: 30px;
}

.advantages__footer {
  margin-top: 50px;
}

.companies__list {
  margin-left: -60px;
  margin-right: -60px;
  margin-bottom: -30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.companies__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(20% - 120px);
  flex: 0 1 calc(20% - 120px);
  margin: 0 60px 30px;
}

.company-card__picture {
  height: 120px;
}

.company-card__name {
  margin: 35px 0 0 0;
  font-size: 18px;
  line-height: 27px;
}
}

