section.advantages.advantages--about
    .container
        .advantages__inner
            h2.advantages__title.title Почему выбирают нас
            ul.advantages__list
                li.advantages__item
                    .advantages__item-icon
                        img.lazy(data-src='./img/advantages-icon-1.png', alt='Иконка')
                    p.advantages__item-name Эффективная #[br] коммуникация
                    p.advantages__item-description Мы не только говорим с вами на одном языке буквально, но и целенаправленно развиваем навыки общения, чтобы понимать, в чем нуждаетесь именно вы и почему идете к врачу.
                li.advantages__item
                    .advantages__item-icon
                        img.lazy(data-src='./img/advantages-icon-2.png', alt='Иконка')
                    p.advantages__item-name Врачи #[br] для всей семьи
                    p.advantages__item-description Мы принимаем не только взрослых людей, но и детей с острыми и хроническими заболеваниями, а также пожилых, которым нужен особой комплексный подход.
                li.advantages__item
                    .advantages__item-icon
                        img.lazy(data-src='./img/advantages-icon-3.png', alt='Иконка')
                    p.advantages__item-name Поддержка #[br] в малознакомой стране
                    p.advantages__item-description Мы знаем, как работать с русскоговорящими пациентами, но еще мы знаем, как устроена португальская семейная и госпитальная медицина изнутри.
