section.callback-widget(data-id='callback-widget')
    .container
        .callback-widget__inner
            section.callback-widget__mapPart
                .callback-widget__map
                    #callback-widget-map
            section.callback-widget__contentPart
                h2.callback-widget__title.title Обратная связь
                section.callback-widget__form
                    form.form#callback-form
                        section.form__field.has-error
                            label.form__label Имя
                            input.form__control.error(type='text', name='name')
                            p.form__field-errorText Обязательное поле
                        section.form__field.form__field--select
                            i.form__caretDown.paste-sprite-caret-left-icon.icon
                            select.form__control
                                option(value='Порто') Порто
                                option(value='Лиссабон') Лиссабон
                                option(value='Сетубал') Сетубал
                            p.form__field-errorText Обязательное поле
                        section.form__field
                            label.form__label Телефон
                            input.form__control(type='tel', name='phone')
                            p.form__field-errorText Обязательное поле
                        section.form__field
                            label.form__label Email
                            input.form__control(type='email', name='email')
                            p.form__field-errorText Обязательное поле
                        section.form__field.form__field--fluid.form__field--textarea
                            label.form__label Ваше обращение
                            textarea.form__control(name='msg',rows='3')
                            p.form__field-errorText Обязательное поле
                        section.form__section.form__section--files
                            p.form__info Скан назначения врача или другие документы (.pdf, .doc, .docx, .jpg, .jpeg, .png, .zip, .rar):
                            input.form__control(type='file', name='file',multiple,accept='.pdf, .doc, .docx, .jpg, .jpeg, .png, .zip, .rar')
                            .form__files
                                button.form__uploadBtn.button.button--outlined(type='button') Прикрепить файл
                                ul.form__filesList
                        footer.form__footer
                            .form__checkbox
                                label.form__checkboxContainer
                                    span Я согласен на обработку&nbsp;
                                        a(href='#',target='_blank') персональных данных
                                    input(type='checkbox', name='agree', id='agree')
                                    span.form__checkboxMark
                                        span.form__checkboxMark-icon.paste-sprite-check-icon.icon

                            button.form__submit.button.button--outlined(type='button') Отправить
