section.popup.popup--callback(data-dialog-id="callback")
  .popup__container
    .popup__wrapper
      section.popup__inner
        button.popup__close.js-close-dialog
          //include ../../img/close-icon.svg
        h2.popup__title Обратная #[br] связь
        section.popup__tail
          //include _contacts-form
