.overlay
.notify
section.popup.popup--callback(data-dialog-id="home-call")
  .popup__container
    .popup__wrapper
      section.popup__inner
        button.popup__close.js-close-dialog.paste-sprite-cross-icon(type='button',aria-label='Закрыть')

        h2.popup__title Выезд на дом
        section.popup__tail
          form.form#home-call-form
            section.form__field
              label.form__label Имя
              input.form__control(type='text', name='name')
              p.form__field-errorText Обязательное поле
            section.form__field.form__field--select
              i.form__caretDown.paste-sprite-caret-left-icon.icon
              select.form__control
                option(value='Порто') Порто
                option(value='Лиссабон') Лиссабон
                option(value='Сетубал') Сетубал
              p.form__field-errorText Обязательное поле
            section.form__field
              label.form__label Телефон
              input.form__control(type='tel', name='phone')
              p.form__field-errorText Обязательное поле
            section.form__field
              label.form__label Email
              input.form__control(type='email', name='email')
              p.form__field-errorText Обязательное поле
            section.form__field.form__field--fluid.form__field--textarea
              label.form__label Ваше обращение
              textarea.form__control(name='msg',rows='3')
              p.form__field-errorText Обязательное поле
            footer.form__footer
              button.form__submit.button.button--outlined(type='button') Отправить
section.popup.popup--widget(data-dialog-id="widget")
  .popup__container
    .popup__wrapper
      section.popup__inner
        button.popup__close.js-close-dialog.paste-sprite-cross-icon(type='button',aria-label='Закрыть')
        section.popup__tail
          include ./_widget.html