footer.footer
    .container
        section.footer__topPart
            .footer__logo
                a(href="./").logo.logo--footer.paste-sprite-logo-white
            section.footer__nav
                nav.nav
                    ul.nav__list.js-navigation
                        li
                            a(href="./about/index.html") О нас
                        li
                            a(href="./services/index.html") Услуги
                        li
                            a(href="./team/index.html") Специалисты
                        li
                            a(href="./reviews/index.html") Отзывы
                        li
                            a(href="./faq/index.html") FAQ
                        li
                            a(href="./contacts/index.html") Контакты

            section.footer__buttons
                button(type='button').js-open-dialog(data-dialog-id="home-call").button.button--outlined.button--accent
                    span Выезд на дом

        section.footer__middlePart
            p.footer__about Мы знаем, как работать с русскоговорящими пациентами, но еще мы знаем, как устроена португальская семейная и госпитальная медицина изнутри
            ul.footer__contactsList
                li
                    a(href="mailto:info@medcouple.pt").contact-link
                        i.contact-link__icon.icon.paste-sprite-email-icon
                        .contact-link__tail
                            span.contact-link__label info@medcouple.pt
                li
                    a(href="https://facebook.com/medcouplept").contact-link
                        i.contact-link__icon.icon.paste-sprite-facebook-icon
                        .contact-link__tail
                            span.contact-link__label facebook.com/medcouplept
            ul.footer__contactsList
                li
                    a(href="https://t.me/medcouplept").contact-link
                        i.contact-link__icon.icon.paste-sprite-telegram-circle-icon
                        .contact-link__tail
                            span.contact-link__description Канал в телеграм:
                            span.contact-link__label t.me/medcouplept
                li
                    a(href="https://t.me/MedCoupleBot").contact-link
                        i.contact-link__icon.icon.paste-sprite-telegram-circle-icon
                        .contact-link__tail
                            span.contact-link__description Бот для записи:
                            span.contact-link__label t.me/MedCoupleBot
    section.footer__bottomPart
        .container.footer__bottomPart-container
            p.footer__copyRights © #[span.year] Medcouple.pt. Все права защищены
            .footer__policies
                a(href="#",target="_blank") Политика конфиденциальности
                a(href="#",target="_blank") Правовая информация
            a.footer__feedbacks(href="#", target="_blank")
                img.lazy(data-src="./img/livro-de-reclamacoes-icon.png", alt="Livro de Reclamações")
