footer.footer
  .container
    .footer__inner
      section.footer__topSection
        .footer__logo
          a(href="./").footer-logo
            include ../img/logo.svg
        section.footer__nav
          nav.nav
            ul.nav__list.js-navigation
              li
                a(href="./about/index.html") О нас
              li
                a(href="./services/index.html") Услуги
              li
                a(href="./doctors/index.html") Специалисты
              li
                a(href="./feedbacks/index.html") Отзывы
              li
                a(href="./faq/index.html") FAQ
              li
                a(href="./contacts/index.html") Контакты
        section.footer__phone
          .contact-link
            i.icon
              include ../img/telegram-icon.svg
            a(href="#") Telegram-бот

        section.footer__splitButton
          .split-button
            button(type='button')
              span Записаться
            button(type='button')
              i.icon
                include ../img/plus-icon.svg
              span Выезд на дом

      section.footer__middlePart
        p.footer__about
        ul.footer__contactsList
        ul.footer__contactsList
      section.footer__bottomPart
        p.footer__copyRights
        .footer__policies
          a(href="#") Политика конфиденциальности
          a(href="#") Пользовательское соглашение
        .footer__feedbacks
          a(href="#") Оставить отзыв
