header.header.js-sticky-header
    .header__mobileBg(aria-hidden="true")
    .container
        .header__inner
            .header__logo
                a(href="./").header-logo.paste-sprite-logo
            section.header__nav
                nav.nav
                    ul.nav__list.js-navigation
                        li
                            a(href="./about/index.html") О нас
                        li
                            a(href="./services/index.html") Услуги
                        li
                            a(href="./doctors/index.html") Специалисты
                        li
                            a(href="./feedbacks/index.html") Отзывы
                        li
                            a(href="./faq/index.html") FAQ
                        li
                            a(href="./contacts/index.html") Контакты
                    .nav__bottom
                        .nav__bottom-element
                            .contact-link
                                i.icon.paste-sprite-telegram-icon
                                a(href="#") Telegram-бот
                        .nav__bottom-element
                            .contact-link
                                i.icon.paste-sprite-email-icon
                                a(href="mailto:example@mail.com") example@mail.com
                        .nav__bottom-element
                            button(type='button').button.button--outlined
                                span Записаться на прием
                        .nav__bottom-element
                            button(type='button').button.button--outlined.button--accent
                                span Выезд на дом
            section.header__phone
                .contact-link
                    i.icon.paste-sprite-telegram-icon
                    a(href="#") Telegram-бот

            section.header__splitButton
                .split-button
                    button(type='button').js-open-dialog(data-dialog-id="widget")
                        span Записаться
                    button(type='button').js-open-dialog(data-dialog-id="home-call")
                        i.icon.paste-sprite-plus-icon
                        span Выезд на дом

            button.header__burger.burger(type='button',aria-label='Открыть меню')
                .burger__icon
                    span
                    span
                    span
                    span
