html(lang="ru")
  head
    base(href='./')
    include ./_meta
    block scripts
      include _head-scripts

  body
    section.overflow.main-page
      section.main-page__header
        include _header
      block body
      section.main-page__footer
        include _footer
    include ./_dialogs
    script(defer,src='./js/main.js')
    script(defer,src='./js/index-page.js')
    script(defer,src='./js/libs.min.js',onload="libLoaded()")