meta(charset="UTF-8")
base(href='./')
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(http-equiv="format-detection", content="telephone=no")
<meta name="theme-color" content="#14373C">
title Medcouple - Наши врачи в Португалии
link(rel="stylesheet", href="./css/styles.min.css")
link(rel="stylesheet", href="./css/styles.min-above-991.css", media="screen and (min-width: 991px)")
link(rel="stylesheet", href="./css/splide.min.css")
link(rel="stylesheet", href="./css/splide-default.min.css")
link(rel="icon", href="./img/favicon.ico",sizes="any",type="image/x-icon")
link(rel="icon", href="./img/brand-logo.svg",type="image/svg+xml")
<link rel="mask-icon" href="./img/brand-logo.svg" color="#5bbad5">
<link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="192x192" href="./img/favicon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">