<!doctype html>
html(lang="ru")
  head

    base(href='../')
    include ./_meta
    block scripts
      include _head-scripts

  body
    section.overflow
      include _header
      section.tail
        block body
      include _footer
    include ./_dialogs
    .sprite(aria-hidden="true", style="display: none;")
      include ../img/sprite.svg


    block footer-scripts
    script(defer,src='./js/main.js')
    script(defer,src='./js/libs.min.js',onload="libLoaded()")