section.team-slider.splide#team-slider
    .container
        .team-slider__inner
            h2.team-slider__title.title Специалисты семейной медицины
            section(aria-label="Карусель специалистов")
                .splide__track
                    .team-slider__slidingHover(aria-hidden='true')
                    ul.team-slider__list.splide__list
                        - for (let i = 0; i < 7; i++)
                            li.team-slider__item.splide__slide
                                section.team-slide-card
                                    section.team-slide-card__tail
                                        .team-slide-card__picture
                                            img(data-splide-lazy=`../img/doc-pic-${i + 1}.jpg`, alt='Имя')
                                        section.team-slide-card__description
                                            p.team-slide-card__name Имя Фамилия
                                            p.team-slide-card__location
                                                i.icon
                                                    include ../img/location-icon.svg
                                                | Сетубал, Лиссабон
                                    footer.team-slide-card__footer
                                        button.team-slide-card__appointmentBtn.button.button--outlined(type='button', aria-label='Записаться')
                                            span Записаться
            footer.team-slider__footer.splide__arrows
                button.team-slider__prevBtn.team-slider__navBtn.splide__arrow.splide__arrow--prev.button.button--outlined.button--icon(type='button', aria-label='Предыдущий слайд')
                    i.icon
                        include ../img/caret-left-icon.svg
                button.team-slider__allBtn.button(type='button', aria-label='Подробнее о специалистах')
                    span Подробнее о специалистах
                button.team-slider__nextBtn.team-slider__navBtn.splide__arrow.splide__arrow--next.button.button--outlined.button--icon(type='button', aria-label='Следующий слайд')
                    i.icon
                        include ../img/caret-left-icon.svg