<!doctype html>
html(lang="ru")
    head

        base(href='../')
        include ../_meta
        block scripts
            include ../_head-scripts

    body(style="background-color: #EBE2DD;")
        section.overflow
            include ../_header
            section.tail

                section.lead
                    .container
                        .lead__inner
                            .lead__picture
                                img.lazy(data-src='./img/contacts-lead-pic.jpg', alt='').only-desktop
                                img.lazy(data-src='./img/contacts-lead-pic-m.jpg', alt='').only-mobile
                            .lead__content
                                header.lead__header
                                    button.lead__backBtn(type='button', aria-label='Назад')
                                        i.icon.paste-sprite-arrow-left-icon
                                        span Назад
                                    h1.lead__title Контакты
                                .lead__text
                                    p Мы - семейные врачи и врачи общей практики и работаем с пациентами любого возраста и помогаем вам в решении самого широкого круга вопросов.

                include ../_callback-widget-contacts-page
            include ../_footer
        include ../_dialogs
        .sprite(aria-hidden="true", style="display: none;")
            include ../../img/sprite.svg


        include ../_footer-scripts.html
        script(defer,src='./js/main.js')
        script(defer,src='./js/libs.min.js',onload="libLoaded()")