@media screen and (min-width:991px){
body {
  font-size: 18px;
}

.tail {
  padding-top: 50px;
}

.icon {
  width: 24px;
  height: 24px;
}

.logo {
  width: clamp(150px,15vw,240px);
  display: block;
}

.logo svg {
  width: 100%;
  max-width: 240px;
}

.logo [id*=logo-icon] {
  -webkit-transform: translate3d(0,0,0)!important;
  transform: translate3d(0,0,0)!important;
}

.contact-link {
  font-size: 18px;
}

.container {
  max-width: 1660px;
  padding: 0 30px;
}

.dot {
  -webkit-clip-path: circle(10px at 40px 60px);
  clip-path: circle(10px at 40px 60px);
}

.only-desktop {
  display: block;
}

.only-mobile {
  display: none;
}

.title {
  font-size: 60px;
  margin-bottom: 50px;
  line-height: 91px;
}

.splide__arrows--widget .splide__arrow {
  padding: 20px;
}

.splide__arrows--widget .splide__arrow .icon {
  width: 16px;
  height: 16px;
}

.splide__arrows--widget .splide__arrow--prev {
  padding-left: 19px;
  padding-right: 21px;
}

.splide__arrows--widget .splide__arrow--next {
  padding-left: 21px;
  padding-right: 19px;
}

.lead {
  margin-bottom: 50px;
}

.lead__inner {
  padding: 40px 60px 50px;
  border-radius: 40px;
}

.lead__inner::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  height: auto;
  max-width: 1000px;
  background: -webkit-gradient(linear,left top,right top,from(#fff),color-stop(53.44%,rgba(255,255,255,0)));
  background: linear-gradient(90deg,#fff 0,rgba(255,255,255,0) 53.44%);
}

.lead__content {
  padding: 0;
  padding-right: 70%;
}

.lead__backBtn {
  margin-bottom: 20px;
  font-size: inherit;
}

.lead__backBtn .icon {
  margin-right: 12px;
  width: 18px;
  height: 18px;
}

.lead__picture {
  position: absolute;
  left: auto;
  top: auto;
  bottom: 0;
  right: 0;
  width: 70%;
  height: auto;
  max-width: 1000px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.lead__picture::after {
  display: none;
}

.lead__picture img {
  max-width: 1100px;
}

.lead__title {
  font-size: 60px;
  line-height: 78px;
}

.lead__title br {
  display: inline-block;
}

.lead__text {
  margin-top: 20px;
}

.lead__footer {
  margin-top: 20px;
}

.lead__footer .button {
  width: auto;
}

.content {
  margin-bottom: 50px;
}

.content--columns .content__text {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.toggle-group--indexPage:not(.opened) .toggle-group__dot {
  -webkit-clip-path: circle(10px at 10px 48px);
  clip-path: circle(10px at 10px 48px);
}

.toggle-group {
  border-radius: 40px;
  padding: 30px;
}

.toggle-group--indexPage {
  border-radius: 20px;
}

.toggle-group__title {
  font-size: 30px;
  margin: 0 20px 0 0;
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

.toggle-group__toggleBtn.opened {
  -webkit-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

.toggle-group__tail {
  padding-top: 20px;
}

.toggle-group__description {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.toggle-group__actions {
  margin: -15px;
}

.toggle-group__subFooter {
  display: none;
}

.toggle-group__actionButtonWrap {
  margin: 15px;
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.toggle-group__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px 0;
}

.toggle-group__columns-list {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 calc(50% - 20px);
  flex: 1 0 calc(50% - 20px);
  margin: 0 10px -20px;
}

.toggle-group__columns-item {
  margin: 0 0 20px;
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.toggle-item {
  border-radius: 20px;
  padding: 20px;
}

.toggle-item__tail {
  padding-top: 20px;
}

.toggle-item__title {
  margin: 0 20px 0 0;
  font-size: 18px;
}

.toggle-item__actions {
  margin: -5px -15px -15px;
}

.toggle-item__actionButtonWrap {
  margin: 15px;
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.toggle-item__description {
  font-size: 18px;
  line-height: 30px;
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.plus-expand {
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
}

.plus-expand:before {
  height: 16px;
}

.plus-expand:after {
  width: 16px;
}

.pagination {
  font-size: 18px;
}

.pagination__list {
  margin: 0 20px;
}

.pagination__arrowBtn {
  margin: 0;
  border: none;
  border-radius: 0;
  width: auto;
  height: auto;
}

.pagination__arrowBtn .icon {
  width: 16px;
  height: 16px;
}

.pagination__arrowBtn span {
  display: block;
}

.pagination__arrowBtn:hover {
  background-color: transparent;
  border-color: transparent;
  color: #d56a5d;
}

.pagination__arrowBtn:hover path {
  stroke: #d56a5d;
}

.pagination__prevBtn .icon {
  margin-right: 10px;
}

.pagination__nextBtn .icon {
  margin-left: 10px;
}

.pagination__item {
  width: 62px;
  height: 62px;
}

.popup__inner {
  border-radius: 40px;
  padding: 30px;
  max-width: 845px;
}

.popup__wrapper {
  padding: 80px;
}

.popup__close {
  top: -34px;
  width: 24px;
  height: 24px;
}

.popup__title {
  font-size: 60px;
  margin: 0 0 30px;
  line-height: 60px;
}

.popup--widget .popup__tail {
  border-radius: 40px;
}

.popup--widget .popup__tail iframe {
  border-radius: 40px;
}

.header__inner {
  padding: 30px 0;
}

.header__burger,
.header__mobileBg {
  display: none;
}

.header__nav,
.header__phone,
.header__splitButton {
  display: block;
}

.header__nav {
  position: relative;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

.nav {
  padding: 0;
  font-size: 15px;
}

.nav__bottom {
  display: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.nav__list li+li {
  margin-left: 20px;
  margin-top: 0;
}

.nav__list li {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.split-button button:first-child {
  padding: 9px 20px;
  padding-right: 50px;
  margin-right: -40px;
  font-size: inherit;
}

.split-button button:last-child {
  padding: 6px;
}

.hero {
  padding: 40px 0 150px;
}

.hero__inner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__picture {
  width: 50%;
  max-width: 785px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: auto;
  min-height: 650px;
}

.hero__picture.is-loaded {
  min-height: 0;
}

.hero__content {
  padding-right: 95px;
  max-width: 50%;
}

.hero__title {
  font-size: clamp(45px,5vw,80px);
  line-height: clamp(60px,5vw,98px);
  margin-bottom: 20px;
}

.hero__leadText {
  font-size: 18px;
  line-height: 30px;
}

.hero__footer {
  margin-top: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
}

.hero__footer .button {
  margin: 0 15px 15px!important;
}

.button--outlined {
  border: 2px solid #c1d3c8;
}

.button:not(.button--big):not(.button--icon) {
  font-size: 20px;
  padding: 18px 26px;
}

.button--big {
  font-size: 30px;
  padding: 18px 50px;
}

.button--icon {
  padding: 16px;
}

.button--telegram {
  padding-left: 15px;
  padding-right: 17px;
}

.button--whatsapp {
  padding-left: 17px;
  padding-right: 15px;
}

.services-widget__title {
  margin-bottom: 20px;
}

.services-widget__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
}

.services-widget__desktopScrollerListContainer,
.services-widget__servicesListContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

.services-widget__desktopScrollerListContainer-inner,
.services-widget__servicesListContainer-inner {
  width: 800px;
}

.services-widget__servicesListContainer {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-left: 30px;
  max-width: none;
  margin: 0;
}

.services-widget__servicesListContainer-inner {
  padding-right: 60px;
}

.services-widget__desktopScrollerListContainer {
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.services-widget__desktopScrollerListContainer-inner {
  padding-left: 60px;
}

.services-widget__desktopScrollerListContainer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services-widget__desktopScrollerListContainer-list li {
  font-size: 40px;
  font-weight: 600;
  opacity: 0;
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
  -webkit-transition: opacity .2s ease-in,-webkit-transform .2s ease-in;
  transition: opacity .2s ease-in,-webkit-transform .2s ease-in;
  transition: opacity .2s ease-in,transform .2s ease-in;
  transition: opacity .2s ease-in,transform .2s ease-in,-webkit-transform .2s ease-in;
}

.services-widget__desktopScrollerListContainer-list li.animate {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.services-widget__desktopScrollerListContainer-list li+li {
  margin-top: 40px;
}

.services-widget__desktopScrollerListContainer-list a {
  text-decoration: none;
  opacity: .5;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
  color: inherit;
}

.services-widget__desktopScrollerListContainer-list a:hover {
  opacity: 1;
}

.services-widget__showMore {
  width: auto;
}

.services-lib {
  padding-bottom: 70px;
}

.services-lib__item {
  margin-bottom: 30px;
}

.faq-lib {
  padding-bottom: 70px;
}

.faq-lib__item {
  margin-bottom: 30px;
}

.feedbacks-lib {
  padding-bottom: 70px;
}

.feedbacks-lib__item {
  margin-bottom: 30px;
}

.feedbacks-lib__pagination {
  margin-top: 40px;
}

.team-slider {
  padding: 150px 0;
}

.team-slider__title {
  text-align: center;
}

.team-slider__item+.team-slider__item {
  margin-top: 0;
}

.team-slider__allBtn {
  width: auto;
}

.team-slide-card {
  padding: 20px;
  border-radius: 40px;
  background-color: transparent;
}

.team-slide-card__picture {
  border-radius: 20px;
  margin-bottom: 20px;
  max-height: 280px;
  max-width: 280px;
  margin-right: 0;
}

.team-slide-card__tail {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.team-slide-card__footer {
  margin-top: auto;
}

.team-slide-card__description {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.team-slide-card__name {
  text-align: center;
  font-size: 30px;
  line-height: 37px;
}

.team-slide-card__location {
  font-size: 18px;
}

.team-lib {
  padding-bottom: 50px;
}

.team-lib__item {
  margin-bottom: 50px;
}

.doc-card {
  border-radius: 40px;
  padding: 30px;
}

.doc-card__desktopImage {
  display: block;
  max-width: 340px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 340px;
  flex: 0 0 340px;
  margin-right: 30px;
}

.doc-card__desktopImage img {
  border-radius: 20px;
}

.doc-card__ava {
  display: none;
}

.doc-card__header {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.doc-card__name {
  font-size: 40px;
  line-height: 49px;
}

.doc-card__button {
  margin-left: auto;
}

.doc-card__appointment {
  width: auto;
}

.doc-card__toggle-item {
  margin-bottom: 20px;
}

.doc-card__toggle-item .toggle-item__tail {
  font-size: 18px;
  line-height: 36px;
}

.doc-card__toggle-item .toggle-item__tail li {
  padding-left: 25px;
}

.doc-card__toggle-item .toggle-item__tail li::after {
  top: 16px;
}

.doc-card__toggle-item--service .toggle-item__tail ul li .icon {
  top: 11px;
  width: 12px;
  height: 12px;
}

.diplomas-gallery {
  margin: -10px;
}

.diplomas-gallery__item {
  padding: 10px;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.advantages {
  padding: 150px 0;
}

.advantages--about {
  padding: 0 0 100px;
}

.advantages--about .advantages__title {
  font-size: 40px;
  line-height: 52px;
}

.advantages__list {
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.advantages__item {
  margin: 0 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.333333%;
  flex: 1 1 33.333333%;
}

.advantages__item-icon {
  width: 160px;
  height: 160px;
  margin-bottom: 20px;
}

.advantages__item-name {
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 20px;
}

.advantages__item-description {
  font-size: 18px;
  line-height: 30px;
}

.advantages__footer {
  margin-top: 50px;
}

.reviews-widget {
  padding: 150px 0;
}

.reviews-widget__item+.reviews-widget__item {
  margin-top: 0;
}

.reviews-widget__footer {
  margin-top: 50px;
}

.review-card {
  padding: 30px;
  border-radius: 40px;
}

.review-card__ava {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  font-size: 30px;
  line-height: 80px;
}

.review-card__name {
  font-size: 30px;
  line-height: 37px;
}

.review-card__location {
  font-size: 18px;
  line-height: 27px;
}

.review-card__location .icon {
  margin-right: 5px;
}

.review-card__tail {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px;
}

.companies {
  padding: 150px 0;
}

.companies__list {
  margin-left: -60px;
  margin-right: -60px;
  margin-bottom: -30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.companies__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(33.333% - 120px);
  flex: 0 1 calc(33.333% - 120px);
  margin: 0 60px 30px;
}

.company-card__picture {
  height: 120px;
}

.company-card__name {
  margin: 35px 0 0 0;
  font-size: 18px;
  line-height: 27px;
}

.footer__topPart {
  padding-top: 60px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.footer__logo {
  -webkit-box-ordinal-group: initial;
  -ms-flex-order: initial;
  order: initial;
  max-width: none;
}

.footer__splitButton {
  -webkit-box-ordinal-group: initial;
  -ms-flex-order: initial;
  order: initial;
}

.footer__nav {
  -webkit-box-ordinal-group: initial;
  -ms-flex-order: initial;
  order: initial;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-top: 0;
}

.footer__middlePart {
  padding: 40px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.footer__about {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
  -webkit-box-ordinal-group: initial;
  -ms-flex-order: initial;
  order: initial;
  font-size: 18px;
}

.footer__contactsList {
  margin: 0 0 0 20px;
}

.footer__contactsList li+li {
  margin-top: 30px;
}

.footer__bottomPart {
  padding: 30px 0;
}

.footer__bottomPart-container {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.footer__policies {
  margin-left: auto;
}

.footer__policies a {
  display: inline-block;
  margin-left: 40px;
  margin-top: 0;
}

.footer__copyRights {
  width: auto;
}

.footer__feedbacks {
  margin-left: 40px;
  margin-top: 0;
}
}

@media (min-width:991px){
.form {
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.form__caretDown {
  top: 24px;
  right: 33px;
  width: 9px;
  height: 16px;
}

.form__field {
  border-radius: 10px;
  margin: 0 15px 20px;
  padding: 18px 30px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 calc(50% - 30px);
  flex: 1 1 calc(50% - 30px);
}

.form__field--select .form__control {
  padding-right: 15px;
}

.form__section {
  margin: 0 15px 20px;
}

.form__uploadBtn {
  white-space: nowrap;
  font-size: 18px!important;
  padding-top: 12px!important;
  padding-bottom: 12px!important;
}

.form__footer {
  margin: 10px 15px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form__label {
  top: 21px;
  left: 30px;
  font-size: 18px;
}

.form__submit {
  margin-top: 0;
  width: auto;
}

.form__control {
  font-size: 18px;
  height: 25px;
}

.form__info {
  font-size: 18px;
}

.form__files {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.form__fileslist {
  margin: 0 0 0 15px;
}

.form__fileslist li {
  margin: 5px 15px;
  font-size: 18px;
}

.form__checkboxContainer {
  font-size: 18px;
}

.callback-widget {
  padding: 150px 0;
}

.callback-widget--contacts-page {
  padding-top: 0;
}

.callback-widget--contacts-page .callback-widget__formPart {
  margin-top: 50px;
}

.callback-widget__mapPart {
  border-radius: 40px;
  height: 400px;
}

.callback-widget__contentPart {
  margin-top: 50px;
}

.callback-widget__contacts li+li {
  margin-top: 50px;
}

.callback-widget__contacts .contact-link {
  font-size: 30px;
}

.callback-widget__contacts .contact-link .icon {
  width: 32px;
  height: 32px;
}
}

@media screen and (min-width:1100px){
.nav {
  font-size: 18px;
}

.nav .nav__list li+li {
  margin-left: 30px;
}
}

@media screen and (min-width:1560px){
.split-button button:first-child {
  padding: 12px 20px;
  padding-right: 50px;
  margin-right: -42px;
}

.split-button button:last-child {
  padding: 12px 20px;
}

.split-button button:last-child .icon {
  display: none;
}

.split-button button:last-child span {
  display: inline-block;
}
}

@media screen and (min-width:1201px){
.team-slider__slidingHover {
  width: 20%;
}
}

@media screen and (min-width:1200px){
.companies__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(20% - 120px);
  flex: 0 1 calc(20% - 120px);
}
}

@media (min-width:1200px){
.callback-widget--contacts-page .callback-widget__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.callback-widget--contacts-page .callback-widget__mapPart {
  height: 500px;
  width: 100%;
}

.callback-widget--contacts-page .callback-widget__contentPart {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.callback-widget--contacts-page .callback-widget__contactPart {
  width: calc(50% - 15px);
  height: auto;
}

.callback-widget--contacts-page .callback-widget__formPart {
  width: calc(50% + 15px);
  margin: 0;
}

.callback-widget__inner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.callback-widget__mapPart {
  width: calc(50% - 15px);
  height: auto;
}

.callback-widget__contentPart {
  width: calc(50% + 15px);
  margin: 0;
}

.callback-widget__formPart {
  margin-top: 0;
  padding: 0 0 0 30px;
}
}

