@use 'vars' as *;

.button {
  appearance: none;
  background-color: $light-green;
  border-radius: 50px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1;
  border: 1.5px solid $light-green;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  color: $font-color;
  cursor: pointer;
  padding: 11px 20px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  display: inline-block;

  &:not(&--outlined) {
    &:hover {
      background-color: $font-color;
      border-color: $font-color;
      color: #fff;
    }
  }

  &--big {
    //font-size: 30px;
    //padding: 18px 50px;
  }

  &--outlined {
    background-color: transparent;
    border-color: $light-green;

    &:hover {
      background-color: $light-green;
    }
  }

  &--accent:not(&--outlined) {
    background-color: $accent-color;
    color: #fff;
    border-color: $accent-color;

    &:hover {
      background-color: $accent-color-darken;
      border-color: $accent-color-darken;
    }
  }

  &--accent.button--outlined {
    color: $accent-color;
    border-color: $accent-color;

    &:hover {
      background-color: $accent-color;
      color: #fff;
    }
  }

  &--icon {
    padding: 10px;
  }

  &--telegram {
    padding-left: 9px;
    padding-right: 11px;
  }

  &--whatsapp {
    padding-left: 11px;
    padding-right: 9px;
  }

  @media screen and (min-width: 991px) {

    &--outlined {
      border: 2px solid $light-green;
    }
    &:not(&--big):not(&--icon) {
      font-size: 20px;
      padding: 18px 26px;
    }

    &--big {
      font-size: 30px;
      padding: 18px 50px;
    }
    &--icon {
      padding: 16px;
    }

    &--telegram {
      padding-left: 15px;
      padding-right: 17px;
    }

    &--whatsapp {
      padding-left: 17px;
      padding-right: 15px;
    }


  }

}