@use "vars" as *;

.overlay {
  display: none;
  background-color: $font-color;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 7;
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($font-color, .7);
  }
}

.popup {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  overflow: auto;
  transition: all 1s ease-in-out;

  &__container {
    display: table;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 80px;
  }

  &__inner {
    background: #F3D6C6;
    border-radius: 40px;
    padding: 30px;
    position: relative;
    transform: scale(.8);
    opacity: 0;
    width: 100%;
    max-width: 845px;
  }

  &__close {
    position: absolute;
    top: -34px;
    right: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    appearance: none;
    line-height: 1;
    cursor: pointer;

    path {
      stroke: #fff;
    }

    &:hover {
      path {
        stroke: $accent-color;
      }
    }

    svg {
      max-width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 60px;
    margin: 0 0 30px;
    line-height: 60px;
    text-align: center;
  }

  &__footer {
    text-align: center;
    margin-top: 60px;
  }

  &.opened {
    .popup__inner {
      opacity: 1;
      transition-duration: .5s;
      transform: scale(1);
      transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    }
  }

  &--widget {
    .popup {
      &__inner {
        padding: 0;
      }
      &__tail {
        border-radius: 40px;
        overflow: hidden;
      }
    }
  }

  .form {
    &__footer {
      justify-content: center;

      .button {
        &--outlined {
          border-color: #fff;

          &:hover {
            background-color: #fff;
          }
        }
      }
    }
  }


  @media screen and (max-width: 990px) {
    &__inner {
      padding: 30px 20px;
      border-radius: 40px 10px;
      max-width: 650px;
    }

    &__wrapper {
      padding: 44px 15px 30px;
    }

    &__close {
      width: 24px;
      height: 24px;
      top: -34px;
    }

    &__title {
      margin: 0 0 30px;
      font-size: 28px;
      line-height: 28px;
    }

    &__footer {
      margin-top: 37px;
    }
  }

}

