@use "vars" as *;

.overlay {
  display: none;
  background-color: $font-color;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 7;
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($font-color, .7);
  }
}

.popup {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  overflow: auto;
  transition: all 1s ease-in-out;

  &__container {
    display: table;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 44px 15px 30px;
  }

  &__inner {
    background: #F3D6C6;
    padding: 20px;
    border-radius: 20px;
    max-width: 650px;
    position: relative;
    transform: scale(.8);
    opacity: 0;
    width: 100%;
  }

  &__close {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    appearance: none;
    line-height: 1;
    cursor: pointer;
    width: 24px;
    height: 24px;
    top: -34px;

    path {
      stroke: #fff;
    }

    &:hover {
      path {
        stroke: $accent-color;
      }
    }

    svg {
      max-width: 100%;
      height: 100%;
      width: 100%;
    }
  }

  &__title {
    font-weight: 700;
    text-align: center;
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
  }

  &.opened {
    .popup__inner {
      opacity: 1;
      transition-duration: .5s;
      transform: scale(1);
      transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    }
  }

  &--widget {
    .popup {
      &__inner {
        padding: 0;
      }

      &__tail {
        border-radius: 20px;
        overflow: hidden;

        iframe {
          border-radius: 20px;
        }
      }
    }
  }

  .form {
    &__footer {
      justify-content: center;
      margin-bottom: 0;

      .button {
        &--outlined {
          border-color: #fff;

          &:hover {
            background-color: #fff;
          }
        }
      }
    }

    &__submit {
      margin-top: 0;
    }
  }


  @media screen and (min-width: 991px) {
    &__inner {
      border-radius: 40px;
      padding: 30px;
      max-width: 845px;
    }

    &__wrapper {
      padding: 80px;
    }

    &__close {
      top: -34px;
      width: 24px;
      height: 24px;
    }

    &__title {
      font-size: 60px;
      margin: 0 0 30px;
      line-height: 60px;
    }
    &--widget {
      .popup {
        &__tail {
          border-radius: 40px;

          iframe {
            border-radius: 40px;
          }
        }
      }
    }
  }

}

