@use 'vars' as *;

.form {
  margin: 0;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;

  &__field {
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    margin: 0 15px 20px;
    padding: 18px 30px;
    flex: 1 1 calc(50% - 30px);

    &.onfocus {
      .form__label {
        //transform: translate3d(-10px, -38px, 0);
        //font-size: 14px;
        opacity: 0;
      }
    }

    &--textarea {
      .form__control {
        width: 100%;
        height: auto;
        resize: none;
      }
    }

    &--fluid {
      flex: 1 1 100%;
    }

    &-errorText {
      display: none;
      margin: 0;
      font-size: 13px;
      color: red;
    }

    &.has-error {
      border-color: #f44336 !important;
      box-shadow: inset 0 1px 1px rgb(244 67 54 / 56%), 0 0 0 3px rgb(244 67 54 / 44%);
      animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;

      .form__field-errorText {
        display: block;
      }
    }
  }

  &__section {
    margin: 0 15px 20px;

    flex: 1 1 100%;
  }

  &__footer {
    margin: 30px 15px 0;
    flex: 1 1 100%;
  }

  &__label {
    position: absolute;
    top: 21px;
    left: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    transition: opacity 0.2s ease;
  }

  &__control {
    border: none;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    font-size: 18px;
    height: 25px;
    width: 100%;
    max-width: 100%;
    font-family: inherit;
    color: $font-color;
    appearance: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  &--row {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    .form {
      &__field {
        margin-bottom: 0;
        margin-right: 40px;
        flex: 1 0 calc(calc(33.33% - 175px) - 40px);
      }

      &__submit {
        flex: 0 0 175px;
      }
    }
  }

}

.dropdown {
  position: relative;

  select {
    appearance: none;
    background-color: transparent;
    border: 2px solid red;
    padding: 16px 46px 16px 20px;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    cursor: inherit;
    outline: none;
    line-height: 1;
    border-radius: 5px;

    &::-ms-expand {
      display: none;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 20px;
    right: 25px;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    transform: rotate(-45deg);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
