@use 'vars' as *;

.form {
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  &__field {
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 10px;
    width: 100%;

    &.onfocus {
      .form__label {
        //transform: translate3d(-10px, -38px, 0);
        //font-size: 14px;
        opacity: 0;
      }
    }

    &--textarea {
      .form__control {
        width: 100%;
        height: auto;
        resize: none;
      }
    }

    &--select {
      .form__control {
        padding-right: 20px;
      }

      &::after {
        content: '';
        width: 7px;
        height: 12px;
        position: absolute;
        top: 13px;
        right: 13px;
        transform: rotate(90deg);
        background-image: url(../img/caret-left-icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }

    &--fluid {
      flex: 1 1 100%;
    }

    &-errorText {
      display: none;
      margin: 0;
      font-size: 13px;
      color: red;
    }

    &.has-error {
      border-color: #f44336 !important;
      box-shadow: inset 0 1px 1px rgb(244 67 54 / 56%), 0 0 0 3px rgb(244 67 54 / 44%);
      animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;

      .form__field-errorText {
        display: block;
      }
    }
  }

  &__section {
    margin: 0 0 15px;
    flex: 1 1 100%;

    &--files {
      .form__control {
        display: none;
      }
    }
  }

  &__footer {
    margin: 0 0 15px;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
  }

  &__label {
    position: absolute;
    top: 12px;
    left: 10px;
    font-weight: 600;
    line-height: 1;
    transition: opacity 0.2s ease;
  }

  &__control {
    border: none;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    font-size: 14px;
    height: 19px;
    width: 100%;
    max-width: 100%;
    font-family: inherit;
    color: $font-color;
    appearance: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  &__info {
    margin: 0 0 10px;
  }

  &__files {
    display: flex;
    flex-direction: column;
  }

  &__uploadBtn {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__fileslist {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 10px -15px 0;
    padding: 0;
    list-style: none;

    li {
      margin: 5px 15px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        &::after {
          opacity: 1;
        }
      }

      &::after {
        opacity: .8;
        content: '';
        width: 12px;
        height: 12px;
        display: block;
        margin-left: 10px;
        background-image: url(../img/cross-icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

      }
    }
  }

  &__checkboxContainer {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
      display: none;

      &:checked + .form__checkboxMark {
        background-color: $font-color;

        &::after {
          opacity: 1;
        }
      }
    }
  }


  &__checkboxMark {
    position: relative;
    order: -1;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid $font-color;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    flex-shrink: 0;

    &::after {
      content: '';
      width: 14px;
      height: 14px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../img/check-icon.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      opacity: 0;
    }
  }

  &__submit {
    margin-top: 20px;
    width: 100%;
  }

  @media (min-width: 991px) {
    margin-left: -15px;
    margin-right: -15px;
    align-items: flex-start;
    &__field {

      border-radius: 10px;
      margin: 0 15px 20px;
      padding: 18px 30px;
      flex: 1 1 calc(50% - 30px);

      &--select {
        .form__control {
          padding-right: 15px;
        }

        &::after {
          top: 24px;
          right: 33px;
        }
      }
    }

    &__section {
      margin: 0 15px 20px;
    }
    &__uploadBtn {
      white-space: nowrap;
      font-size: 18px !important;
      padding-top: 12px !important;
      padding-bottom: 12px !important;
    }
    &__footer {
      margin: 10px 15px 0;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    &__label {
      top: 21px;
      left: 30px;
      font-size: 18px;
    }
    &__submit {
      margin-top: 0;
      width: auto;
    }

    &__control {
      font-size: 18px;
      height: 25px;
    }
    &__info {
      font-size: 18px;
    }
    &__files {
      flex-direction: row;
      align-items: baseline;
    }
    &__fileslist {
      margin: 0 0 0 15px;

      li {
        margin: 5px 15px;
        font-size: 18px;
      }
    }
    &__checkboxContainer {
      font-size: 18px;
    }
  }
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
