@use 'vars' as *;

.header {
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
  transition-property: transform;
  background-color: #fff;

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(#fff, .9);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    position: relative;
  }


  &__phone,
  &__splitButton {
    transition: transform 0.2s ease-in, opacity 0.2s ease-in-out;
    transition-delay: .3s;
  }

  &__mobileBg {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: clip-path 0.3s ease-in;
    clip-path: circle(0% at 100% 0%);
    background-image: url(../img/mobile-menu-bg.jpg);
    background-size: initial;
    background-repeat: no-repeat;
    background-position: top 110px left 150px;
  }

  &__nav {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    user-select: none;

  }

  @media screen and (max-width: 990px) {
    .nav {

      padding-top: 20px;
      padding-bottom: 30px;

      &__list {
        li {
          transform: translateY(-10px);
          opacity: 0;
        }
      }
    }
    &__phone {
      .contact-link {
        .icon {
          margin-right: 0;
        }

        a {
          display: none;
        }
      }
    }
  }

  @media screen and (min-width: 990px) {
    &__inner {
      padding: 30px 0;
    }
    &__burger,
    &__mobileBg {
      display: none;
    }

    &__nav,
    &__splitButton,
    &__phone {
      display: block;
    }

    &__nav {
      position: relative;
      opacity: 1;
      visibility: visible;
      pointer-events: initial;
      user-select: initial;
    }
  }
}

@media screen and (max-width: 990px) {
  .header-logo {
    display: block;
    opacity: 0;
    width: 36px;

    svg {
      max-width: 188px;
      max-height: 26px;
    }

    #hlogo-right,
    #hlogo-left path {
      transition: transform 0.1s ease-in, opacity 0.1s ease-in-out;
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}

@media screen and (min-width: 991px) {
  .header-logo {
    width: 240px;
    display: block;

    svg {
      max-width: 240px;
    }

    #hlogo-icon {
      transform: translate3d(0, 0, 0) !important;
    }
  }
}

.burger {
  margin: 0;
  cursor: pointer;
  line-height: 1;
  border: none;
  padding: 3px 8px;
  appearance: none;
  background-color: transparent;

  &__icon {
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    width: 24px;
    height: 24px;
    position: relative;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $font-color;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 6px;
      }

      &:nth-child(2), &:nth-child(3) {
        top: 12px;
      }

      &:nth-child(4) {
        top: 18px;
      }
    }

  }

  &.nav-open {
    .burger__icon {
      span {
        &:nth-child(1) {
          top: 12px;
          width: 0%;
          left: 50%;
        }

        &:nth-child(2) {
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }

        &:nth-child(4) {
          top: 12px;
          width: 0%;
          left: 50%;
        }
      }
    }
  }
}

.nav {
  flex: 100%;
  display: flex;
  flex-direction: column;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;

    a {
      color: inherit;
      text-decoration: none;
      font-weight: 600;
      transition: color 0.2s ease-in;

      &:hover {
        color: $accent-color;
      }
    }

    li + li {
      margin-top: 30px;
    }

    li {
      transition: transform 0.2s ease-in, opacity 0.2s ease-in-out;
    }
  }

  &__bottom {
    margin-top: auto;
    font-size: 14px;

    & > * {
      transition: transform 0.2s ease-in, opacity 0.2s ease-in-out;
      transform: translateY(-10px);
      opacity: 0;
      margin-top: 15px;
    }

    .button {
      width: 100%;
    }
  }

  @media screen and (min-width: 990px) {
    padding: 0;
    &__bottom {
      display: none;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;

      li + li {
        margin-left: 30px;
        margin-top: 0;
      }

      li {
        transform: translateY(0);
        opacity: 1;
      }
    }

  }
}

.split-button {
  display: flex;
  align-items: center;

  button {
    appearance: none;
    background-color: transparent;
    border: 2px solid;
    border-radius: 50px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    padding: 6px 13px;
    line-height: 1;
    margin: 0;
    color: inherit;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:first-child {
      border-color: $light-green;
      font-size: 14px;
      padding: 6px 13px;
      padding-right: 38px;
      margin-right: -30px;

      &:hover {
        background-color: $light-green;
      }
    }

    &:last-child {
      z-index: 1;
      border-color: $accent-color;
      background-color: #fff;
      padding: 5px;

      span {
        display: none;
      }

      &:hover {
        background-color: $accent-color;
        color: #fff;

        .icon {
          svg {
            path {
              stroke: #fff;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 990px) {
    button {

      &:first-child {
        padding: 12px 20px;
        padding-right: 50px;
        margin-right: -42px;
        font-size: inherit;
      }

      &:last-child {
        padding: 12px 20px;

        .icon {
          display: none;
        }

        span {
          display: inline-block;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  body.nav-open {
    overflow: hidden;

    .header {
      &__nav {
        display: flex;
        flex-direction: column;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        scroll-behavior: smooth;
        snap-type: y mandatory;
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
        user-select: initial;

      }

      &__mobileBg {
        clip-path: circle(150% at 100% 0%);
      }

      &__phone,
      &__splitButton {
        opacity: 0;
        visibility: hidden;
      }
    }

    .nav {

      &__list {
        li {
          opacity: 1;
          transform: translateY(0);
        }
      }

      &__bottom {
        * {
          opacity: 1;
          transform: translateY(0);
        }
      }

    }

    .header-logo {
      #hlogo-right,
      #hlogo-left path {
        opacity: 1;
        transform: translateY(0);
      }

      #hlogo-icon {
        transform: translate3d(0, 0, 0) !important;
      }
    }

  }
}