@use 'vars' as *;
@use 'sass:math';

.services-widget {
  background-color: #fff;
  transition: height .2s ease-in-out;

  &__title {
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    overflow: hidden;
    margin-bottom: -10px;
    transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      margin-bottom: 0;
    }

    &.opened {
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 10px;
      }

      &:first-child {
        margin-top: 0;
      }

      .services-widget__item + & {
        margin-top: 10px;
      }
    }
  }

  &__desktopScrollerListContainer {
    display: none;
  }

  &__inner {
    margin-left: 20px;
    margin-right: 20px;
  }

  &__servicesListContainer {
    max-width: $desktop-container-width-mob;
    margin: 0 auto;
    padding: 50px 0;
  }

  &__showMore {
    margin-top: 10px;
    width: 100%;
  }

  @media screen and (min-width: 991px) {

    &__title {
      margin-bottom: 20px;
    }
    &__inner {
      display: flex;
      justify-content: center;
      margin: 0;
    }
    &__servicesListContainer {
      justify-content: flex-end;
      padding-left: 30px;
      max-width: none;
      margin: 0;
      width: 50%;
      display: flex;
      padding-top: 80px;
      padding-bottom: 80px;

      &-inner {
        padding-right: 40px;
        width: math.div($desktop-container-width, 2);
      }
    }
    &__desktopScrollerListContainer {
      display: flex;
      width: 50%;
      transition: background-color 0.2s ease-in-out;
      font-size: 25px;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 1.6;

      &-inner {
        opacity: 0.5;
        width: math.div($desktop-container-width, 2);
      }

      &-content {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-right: 30px;
        padding-left: 40px;
        transform: translate3d(0, 0, 0);
        will-change: position, transform;

        p {
          margin: 0;
        }

        li {
          font-size: 30px;
          line-height: inherit;
          font-weight: 600;
          opacity: 0;
          transform: translateX(15px);
          transition: opacity 0.2s ease-in, transform 0.2s ease-in;

          &.animate {
            opacity: 1;
            transform: translateX(0);
          }
        }

        li + li {
          margin-top: 20px;
        }

        a {
          text-decoration: none;
          transition: opacity 0.2s ease-in;
          color: inherit;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    &__showMore {
      width: auto;
    }

    &__item {
      margin-bottom: -20px;

      &.opened {
        &:last-child {
          margin-bottom: 20px;
        }

        .services-widget__item + & {
          margin-top: 20px;
        }
      }
    }
  }

  @media screen and (min-width: 1500px) {
    &__servicesListContainer {
      padding-top: 100px;
      padding-bottom: 100px;

      &-inner {
        padding-right: 60px;
      }
    }
    &__desktopScrollerListContainer {
      font-size: 30px;

      &-content {
        padding-left: 60px;
        padding-top: 100px;
        padding-bottom: 100px;

        li {
          font-size: 40px;
        }

        li + li {
          margin-top: 40px;
        }
      }
    }

    &__item {
      margin-bottom: -30px;


      &.opened {
        &:last-child {
          margin-bottom: 30px;
        }

        .services-widget__item + & {
          margin-top: 30px;
        }
      }
    }
  }
}

.services-lib {
  padding-bottom: 0;

  &__item {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 991px) {
    padding-bottom: 70px;

    &__item {
      margin-bottom: 30px;
    }
  }
}

.faq-lib {
  padding-bottom: 0;

  &__item {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 991px) {
    padding-bottom: 70px;

    &__item {
      margin-bottom: 30px;
    }
  }
}


.feedbacks-lib {
  padding-bottom: 30px;

  &__item {
    margin-bottom: 20px;
  }

  &__pagination {
    margin-top: 20px;
  }

  @media screen and (min-width: 991px) {
    padding-bottom: 70px;

    &__item {
      margin-bottom: 30px;
    }
    &__pagination {
      margin-top: 40px;
    }

  }
}

