@use 'vars' as *;

.team-slider {
  padding: 50px 0;

  &__title {
  }

  &__list {
    &.splide__list {
      height: auto;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    .team-slide-card {
      height: 100%;
      flex: 100%;

      @media (-webkit-min-device-pixel-ratio: 2) {
        height: auto;
        flex: auto;
      }
    }
  }

  &__item + &__item {
    margin-top: 20px;
  }

  &__footer {
    margin-top: 30px;
  }


  &__allBtn {
    background-color: #fff;
    border-color: #fff;
    width: 100%;
  }

  &__slidingHover {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #fff;
    border-radius: 40px;
    opacity: 0;
    transition: all 0.2s ease-in;
  }

  @media screen and (min-width: 1201px) {
    &__slidingHover {
      width: 20%;
    }
  }

  @media screen and (min-width: 991px) {
    padding: 150px 0;

    &__title {
      text-align: center;
    }
    &__item + &__item {
      margin-top: 0;
    }
    &__allBtn {
      width: auto;
    }
  }
}

.team-slide-card {
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  &__tail {
    display: flex;
    align-items: flex-start;
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__picture {
    border-radius: 10px;
    margin-right: 15px;
    overflow: hidden;
    max-height: 100px;
    max-width: 100px;
  }

  &__name {
    margin: 0 0 10px;
  }

  &__location {
    margin: 0 0 20px;
    display: flex;
    justify-content: center;

    .icon {
      margin-right: 10px;
    }
  }

  &__footer {

    margin-top: 10px;
  }

  &__appointmentBtn {
    width: 100%;

    &:hover {
      background-color: $accent-color;
      border-color: $accent-color;
      color: #fff;
    }
  }

  @media screen and (min-width: 991px) {

    padding: 20px;
    border-radius: 40px;
    background-color: transparent;
    &__picture {
      border-radius: 20px;
      margin-bottom: 20px;
      max-height: 280px;
      max-width: 280px;
      margin-right: 0;
    }

    &__tail {
      flex-direction: column;
      align-items: center;
    }
    &__footer {
      margin-top: auto;
    }
    &__description {
      align-items: center;
    }
    &__name {
      text-align: center;
      font-size: 30px;
      line-height: 37px;
    }
    &__location {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 990px) {
  .team-slider {
    .splide__arrow {
      display: none;
    }
  }
  .team-slide-card {
    &__location {
      .icon {
        width: 20px;
        height: 20px;
      }
    }

    &__appointmentBtn {
      background-color: $accent-color;
      border-color: $accent-color;
      color: #fff;

      &:hover {
        background-color: $accent-color-darken;
        border-color: $accent-color-darken;
      }

    }
  }
}