$desktop-container-width: 1600px;
$desktop-container-width-mob: 650px;
$green: #E6EDE9;
$font-color: #14373C;
$light-green: #C1D3C8;
$peach: #F3D6C6;
$beige: #EBE2DD;
$accent-color: #D56A5D;
$accent-color-darken : darken($accent-color, 10%);