@use "vars" as *;

body {
  background-color: #fff;
  color: $font-color;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.debug {
  *,
  *::before,
  *::after {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.1) !important;
  }
}

.container {
  margin: 0 auto;
  max-width: $desktop-container-width-mob + 40px;
  padding: 0 20px;

}

.icon {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 16px;
  height: 16px;

  svg {
    width: 100%;
    height: 100%;

    path[fill="#000000"] {
      fill: currentColor;
    }

    path[stroke="#000000"] {
      stroke: currentColor;
    }
  }

  @media screen and (min-width: 991px) {

    width: 24px;
    height: 24px;
  }
}

.contact-link {
  text-decoration: none;
  font-weight: 600;
  font-size: inherit;
  color: inherit;
  display: flex;
  align-items: center;

  .icon {
    margin-right: 10px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@media screen and (min-width: 991px) {
  .container {
    max-width: $desktop-container-width + 60px;
    padding: 0 30px;
  }
}

.dot {
  width: 100%;
  height: 100%;
  clip-path: circle(7.5px at 7.5px 26px);
  transition: clip-path 0.4s ease-in-out;
  @media screen and (min-width: 991px) {
    clip-path: circle(10px at 10px 48px);
  }
}

.only-desktop {
  display: none;
  @media screen and (min-width: 991px) {
    display: block;
  }
}

.only-mobile {
  display: block;
  @media screen and (min-width: 991px) {
    display: none;
  }
}

img:not([src]) {
  visibility: hidden;
}

.title {
  font-size: 24px;
  line-height: 31px;
  margin: 0 0 30px;
  text-transform: uppercase;
  @media screen and (min-width: 991px) {
    font-size: 60px;
    margin-bottom: 50px;
    line-height: 91px;
  }
}

.splide__list {
  height: auto !important;
}

.splide__arrows--widget {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .splide__arrow {
    padding: 13px;
    position: relative;
    top: auto;
    transform: translateY(0);
    width: auto;
    height: auto;
    background-color: transparent;
    border: 2px solid $light-green;

    &:hover {
      background-color: $light-green;
    }

    .icon {
      width: 10px;
      height: 10px;
    }

    svg {
      fill: none;
      width: 100%;
      height: 100%;
    }
  }

  .splide__arrow--prev {
    left: auto;
    padding-left: 12px;
    padding-right: 14px;
  }

  .splide__arrow--next {
    right: auto;
    padding-left: 14px;
    padding-right: 12px;
  }

  @media screen and (min-width: 991px) {
    .splide__arrow {
      padding: 20px;

      .icon {
        width: 16px;
        height: 16px;
      }

    }

    .splide__arrow--prev {
      padding-left: 19px;
      padding-right: 21px;
    }

    .splide__arrow--next {
      padding-left: 21px;
      padding-right: 19px;
    }
  }
}

.splide__slide img[src] {
  display: block !important;

  & + .splide__spinner {
    display: none;
  }
}

.expandable {
  &.should-expand {
    .expandable__content::after {
      opacity: 1;
    }

    &.expanded {
      .expandable__content::after {
        opacity: 0;
      }
    }
  }

  &__content {
    overflow: hidden;
    position: relative;

    &::after {
      opacity: 0;
      user-select: none;
      pointer-events: none;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
      transition: opacity 0.2s ease-in-out;
    }
  }
}

@import "header";
@import "hero";
@import "buttons";
@import "services-widget";
@import "team-slider";
@import "advantages";
@import "reviews";
@import "companies";