@use "vars" as *;

body {
  background-color: #fff;
  color: $font-color;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: $desktop-container-width-mob + 40px;
  padding: 0 20px;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;

  svg {
    width: 100%;
    height: 100%;

    path[fill="#000000"] {
      fill: currentColor;
    }

    path[stroke="#000000"] {
      stroke: currentColor;
    }
  }
}

.contact-link {
  text-decoration: none;
  font-weight: 600;
  font-size: inherit;
  color: inherit;
  display: flex;
  align-items: center;

  .icon {
    margin-right: 10px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@media screen and (min-width: 991px) {
  .container {
    max-width: $desktop-container-width + 60px;
    padding: 0 30px;
  }
}

.dot {
  width: 100%;
  height: 100%;
  clip-path: circle(7.5px at 7.5px 26px);
  transition: clip-path 0.4s ease-in-out;
  @media screen and (min-width: 991px) {
    clip-path: circle(10px at 10px 48px);
  }
}

@import "header";
@import "hero";
@import "buttons";
@import "services-widget";