@use "vars" as *;

body {
  background-color: $green;
  color: $font-color;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  &.debug {
    &:before {
      content: "";
      position: fixed;
      z-index: 5;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      bottom: 0;
      background-color: blue;
    }
  }

  @media screen and (min-width: 991px) {
    font-size: 16px;
    line-height: 1.5;
  }

  @media screen and (min-width: 1500px) {
    font-size: 18px;
  }

  &.popup-opened {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.overflow {
  overflow: hidden;
}

.tail {
  padding-top: 20px;

  .main-page & {
    padding-top: 0;
  }

  @media screen and (min-width: 991px) {
    padding-top: 50px;
  }
}

.debug {
  *,
  *::after {
    box-shadow: 0 0 0 1px rgba(255, 0, 0, 0.1) !important;
  }
}

.container {
  margin: 0 auto;
  max-width: $desktop-container-width-mob + 40px;
  padding: 0 20px;

}

.icon {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 16px;
  height: 16px;

  svg {
    width: 100%;
    height: 100%;
    fill: none;

    [fill="#000000"] {
      fill: currentColor;
      transition: fill 0.2s ease-in-out;
    }

    [stroke="#000000"] {
      stroke: currentColor;
      transition: stroke 0.2s ease-in-out;
    }
  }

  @media screen and (min-width: 991px) {

    width: 20px;
    height: 20px;
  }

  @media screen and (min-width: 1500px) {

    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 990px) {
  .logo--header {
    display: block;
    opacity: 0;
    width: 36px;

    svg {
      max-width: 188px;
      max-height: 26px;
    }

    [id*="logo-right"],
    [id*="logo-left"] path {
      transition: transform 0.1s ease-in, opacity 0.1s ease-in-out;
      opacity: 0;
      transform: translateY(-10px);
    }
  }
}

@media screen and (min-width: 991px) {
  .logo {
    width: clamp(150px, 15vw, 240px);
    display: block;

    svg {
      width: 100%;
      max-width: 240px;
    }

    [id*="logo-icon"] {
      transform: translate3d(0, 0, 0) !important;
    }
  }
}

.contact-link {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  display: flex;
  align-items: center;

  &__icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  &__label {
    transition: color 0.2s ease-in-out;
    margin-left: 10px;
    display: inline-block;
  }

  &__description {
    opacity: 0.5;
    display: inline-block;
    margin-left: 10px;
    transition: color 0.2s ease-in-out;
  }


}

a.contact-link:hover {
  .contact-link {
    &__label {
      color: $accent-color;
    }

    &__icon {
      svg {

        [fill="#000000"] {
          fill: $accent-color;
        }

        [stroke="#000000"] {
          stroke: $accent-color;
        }
      }
    }
  }
}

@media screen and (min-width: 991px) {
  .container {
    max-width: $desktop-container-width + 60px;
    padding: 0 30px;
  }
}

.dot {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(7.5px at 22.5px 35px);
  transition: clip-path 0.4s ease-in-out;
  @media screen and (min-width: 991px) {
    clip-path: circle(8px at 27px 45px);
  }
  @media screen and (min-width: 1500px) {
    clip-path: circle(10px at 40px 60px);
  }

  .opened & {
    width: 100%;
    height: 100%;
    clip-path: circle(150% at 0% 0%);
  }

  &-holder {
    overflow: hidden;
    position: relative;
    opacity: .99;
  }
}

.only-desktop {
  display: none;
  @media screen and (min-width: 991px) {
    display: block;
  }
}

.only-mobile {
  display: block;
  @media screen and (min-width: 991px) {
    display: none;
  }
}

img:not([src]) {
  visibility: hidden;
}

.section {
  padding: 50px 0;
  @media screen and (min-width: 991px) {
    padding: 100px 0;
  }
  @media screen and (min-width: 1500px) {
    padding: 150px 0;
  }
}

.title {
  font-size: 24px;
  line-height: 31px;
  margin: 0 0 30px;
  text-transform: uppercase;
  @media screen and (min-width: 991px) {
    font-size: 45px;
    margin-bottom: 30px;
    line-height: 70px;
  }
  @media screen and (min-width: 1500px) {
    font-size: 60px;
    margin-bottom: 50px;
    line-height: 91px;
  }
}

.splide__track {
  transition: height 0.2s ease-in-out;
}

.splide__list {
  height: auto !important;
}

.splide__arrows--widget {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .splide__arrow {
    padding: 13px;
    position: relative;
    top: auto;
    transform: translateY(0);
    width: auto;
    height: auto;
    background-color: transparent;
    border: 2px solid $light-green;

    &:hover {
      background-color: $light-green;
    }

    .icon {
      width: 10px;
      height: 10px;
    }

    svg {
      fill: none;
      width: 100%;
      height: 100%;
    }
  }

  .splide__arrow--prev {
    left: auto;
    padding-left: 12px;
    padding-right: 14px;
  }

  .splide__arrow--next {
    right: auto;
    padding-left: 14px;
    padding-right: 12px;
  }

  @media screen and (min-width: 991px) {
    .splide__arrow {
      padding: 15px;

      .icon {
        width: 16px;
        height: 16px;
      }

    }

    .splide__arrow--prev {
      padding-left: 14px;
      padding-right: 16px;
    }

    .splide__arrow--next {
      padding-left: 16px;
      padding-right: 14px;
    }
  }

  @media screen and (min-width: 1500px) {
    .splide__arrow {
      padding: 20px;

    }

    .splide__arrow--prev {
      padding-left: 19px;
      padding-right: 21px;
    }

    .splide__arrow--next {
      padding-left: 21px;
      padding-right: 19px;
    }
  }
}

.splide__slide img[src] {
  display: block !important;

  & + .splide__spinner {
    display: none;
  }
}

.expandable {
  &.should-expand {
    .expandable__content::after {
      opacity: 1;
    }

    &.expanded {
      .expandable__content::after {
        opacity: 0;
      }
    }
  }

  &__content {
    overflow: hidden;
    position: relative;

    &::after {
      opacity: 0;
      user-select: none;
      pointer-events: none;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
      transition: opacity 0.2s ease-in-out;
    }
  }
}

.loading,
.finished {
  user-select: none;
  pointer-events: none;
}

.loading {
  position: relative;

  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 200px;
    animation: loadingAnimation 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-image: linear-gradient(90deg, transparent 0, rgba(#fff, .5) 50%, transparent 100%)
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

@keyframes loadingAnimation {
  0% {
    transform: translate3d(-200px, 0, 0)
  }
  100% {
    transform: translate3d(2000px, 0, 0)
  }
}

.notify {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  color: #fff;
  background-color: $font-color;
  padding: 20px;
  display: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  &.error {
    background-color: #E63E21;
  }
}

.lead {
  margin-bottom: 20px;

  &__inner {
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    overflow: hidden;

  }

  &__content {
    padding: 15px;
    position: relative;
    z-index: 3;
  }

  &__backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    appearance: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    margin-bottom: 5px;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $accent-color;

      path {
        stroke: $accent-color;
      }
    }

    .icon {
      margin-right: 5px;
      width: 12px;
      height: 12px;
    }
  }

  &__picture {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 29.46%, #FFF 96%);
    }
  }

  &__title {
    margin: 0;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;

    br {
      display: none;
    }
  }

  &__text {
    margin-top: 5px;
    opacity: 0.7;
  }

  &__footer {
    margin-top: 5px;

    .button {
      width: 100%;
    }
  }

  @media screen and (min-width: 991px) {

    margin-bottom: 50px;
    &__inner {
      padding: 40px 60px 50px;
      border-radius: 40px;

      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        width: 70%;
        height: auto;
        max-width: 1000px;
        background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 53.44%);
      }
    }
    &__content {
      padding: 0;
      padding-right: 70%;

    }
    &__backBtn {
      margin-bottom: 20px;
      font-size: inherit;

      .icon {
        margin-right: 12px;
        width: 18px;
        height: 18px;
      }
    }

    &__picture {
      position: absolute;
      left: auto;
      top: auto;
      bottom: 0;
      right: 0;
      width: 70%;
      height: auto;
      max-width: 1000px;
      align-items: flex-end;
      justify-content: flex-end;

      &::after {
        display: none;
      }

      img {
        max-width: 1100px;
      }
    }

    &__title {
      font-size: 55px;
      line-height: 70px;

      br {
        display: inline-block;
      }
    }

    &__text {
      margin-top: 20px;
    }

    &__footer {
      margin-top: 20px;

      .button {
        width: auto;
      }
    }
  }

  @media screen and (min-width: 1500px) {

    &__title {
      font-size: 60px;
      line-height: 78px;
    }

  }
}

.content {
  margin-bottom: 30px;
  color: #435F63;
  @media screen and (min-width: 991px) {
    margin-bottom: 50px;
    &--columns {
      .content__text {
        column-count: 2;
        column-gap: 30px;
      }
    }

  }

  &__text {
    p {
      margin: 0 0 10px;
    }
  }
}

.toggle-group {
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;

  &__header {
    display: flex;
    jsutify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__toggleBtn {
    margin-left: auto;
    background-color: #E6EDE9;
    flex-shrink: 0;

  }

  &__title {
    transition: transform 0.2s ease-in-out;
    transform: translateX(25px);
    margin: 0 10px 0 0;
    font-size: 18px;
    cursor: pointer;
  }

  &__tail {
    display: none;
    padding-top: 10px;

    &.opened {
      display: block;

      .toggle-group {
        &__description {
          opacity: 1;
          transform: translateX(0);
        }

        &__columns {
          &-item {
            opacity: 1;
            transform: translateX(0);
          }
        }

        &__actionButtonWrap {
          opacity: 1;
          transform: translateX(0);
        }

        &__subFooter-list {
          li {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    margin: -7.5px;

    .button--outlined {
      border-color: #fff;

      &:hover {
        background-color: #fff;
      }
    }
  }


  &__subFooter {
    margin-top: 10px;

    &-list {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 18px;
        font-weight: 600;
        opacity: 0;
        transform: translateX(7.5px);
        transition: opacity 0.2s ease-in, transform 0.2s ease-in;
      }

      li + li {
        margin-top: 10px;
      }

      a {
        text-decoration: none;
        opacity: 0.5;
        transition: opacity 0.2s ease-in;
        color: inherit;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__appointement {
    width: 100%;
  }

  &__actionButtonWrap {
    opacity: 0;
    transform: translateX(7.5px);
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;
    margin: 7.5px;
  }

  &__description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 15px;
    opacity: 0;
    transform: translateX(7.5px);
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;

    p {

      color: #435F63;
      margin: 0;
    }
  }

  &__columns {
    &-list {
      padding: 0;
      margin: 0 0;
      list-style: none;
    }

    &-item {
      opacity: 0;
      margin: 0 0 10px;
      transform: translateX(7.5px);
      transition: opacity 0.2s ease-in, transform 0.2s ease-in;
    }
  }

  &.opened {
    .toggle-group {
      &__title {
        transform: translateX(0);
      }

      &__toggleBtn {
        transition: background-color 0.3s ease-in-out;
        background-color: transparent;
      }
    }
  }

  &--indexPage {
    border-radius: 20px;
    background-color: transparent;

    .toggle-group {
      &__title {
        transform: translateX(7.5px) !important
      }
    }

    &:not(.opened) {
      .toggle-group__dot {
        clip-path: circle(7.5px at 7.5px 26px);
        @media screen and (min-width: 991px) {
          clip-path: circle(8px at 8px 39px);
        }
        @media screen and (min-width: 1500px) {
          clip-path: circle(10px at 10px 53px);
        }
      }
    }
  }

  @media screen and (max-width: 990px) {
    &__actionButtonWrap:first-child {
      width: 100%;
    }
    &__columns {
      &-list + &-list {
        margin-top: 10px;
      }

      &-item {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @media screen and (min-width: 991px) {
    border-radius: 30px;
    padding: 20px;
    &--indexPage {
      border-radius: 20px;
    }
    &__title {
      font-size: 26px;
      margin: 0 15px 0 0;
      transform: translateX(30px);
    }
    &__toggleBtn {
      &.opened {
        transition: background-color 0.5s ease-in-out;
      }
    }
    &__tail {
      padding-top: 20px;
    }
    &__description {
      font-size: inherit;
      line-height: 1.5;
      margin-bottom: 20px;
      transform: translateX(15px);
    }
    &__actions {
      margin: -15px;

    }
    &__subFooter {
      display: none;
    }
    &__actionButtonWrap {
      margin: 15px;
      transform: translateX(15px);
    }
    &__columns {
      display: flex;
      margin: 0 -10px 0;

      &-list {
        flex: 1 0 calc(50% - 20px);
        margin: 0 10px -20px;
      }

      &-item {
        margin: 0 0 20px;
        transform: translateX(15px);
      }
    }
  }

  @media screen and (min-width: 1500px) {
    padding: 30px;
    border-radius: 40px;
    &__title {
      font-size: 30px;
      margin: 0 20px 0 0;
      transform: translateX(40px);
    }
  }
}

.toggle-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;

  &__header {
    display: flex;
    cursor: pointer;
  }

  &__title {
    margin: 0 10px 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  &__toggleBtn {
    margin-left: auto;
    flex-shrink: 0;
    background-color: transparent;
    appearance: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;

    .icon {
      width: 7px;
      height: 14px;
      transform: rotate(90deg);
    }

  }

  &__tail {
    display: none;
    padding-top: 10px;

    &.opened {
      display: block;

      .toggle-item {
        &__description {
          opacity: 1;
          transform: translateX(0);
        }

        &__actionButtonWrap {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    margin: 5px -7.5px -5px;
  }

  &__actionButtonWrap {
    opacity: 0;
    margin: 5px 7.5px;
    transform: translateX(7.5px);
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;
  }

  &__appointement {
    width: 100%;
  }

  &__description {
    opacity: 0;
    transform: translateX(7.5px);
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;
    font-size: 12px;
    line-height: 18px;

    p {
      opacity: 0.7;
      margin: 0;
    }
  }

  &.opened {
    .toggle-item {
      &__toggleBtn {
        .icon {
          transform: rotate(-90deg);
        }
      }
    }
  }

  @media screen and (max-width: 990px) {
    &__actionButtonWrap:first-child {
      width: 100%;
    }
  }

  @media screen and (min-width: 991px) {
    border-radius: 20px;
    padding: 20px;

    &__tail {
      padding-top: 20px;
    }
    &__title {
      margin: 0 20px 0 0;
      font-size: inherit;
    }
    &__actions {
      margin: -5px -15px -15px;
    }

    &__actionButtonWrap {
      margin: 15px;
      transform: translateX(15px);
    }

    &__description {
      font-size: inherit;
      line-height: 1.5;
      transform: translateX(15px);
    }
  }
}

.plus-expand {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  appearance: none;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    position: absolute;
    background-color: $font-color;
    transition: transform 0.25s ease-out;
    border-radius: 2px;
  }

  &:before {
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    left: 50%;
    width: 2px;
    height: 12px;
  }

  &:after {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 12px;
    height: 2px;
  }

  .opened & {
    cursor: pointer;

    &:before {
      transform: translate3d(-50%, -50%, 0) rotate(90deg);
    }

    &:after {
      transform: translate3d(-50%, -50%, 0) rotate(180deg);
    }
  }

  @media screen and (min-width: 991px) {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;

    &:before {
      height: 16px;
    }

    &:after {
      width: 16px;
    }
  }
  @media screen and (min-width: 1500px) {

    width: 60px;
    height: 60px;

    &:before {
      height: 16px;
    }

    &:after {
      width: 16px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__arrowBtn {
    flex-shrink: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    margin: 0 5px;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    &:hover {
      background-color: $accent-color;
      border-color: $accent-color;

      path {
        stroke: #fff
      }
    }

    &.disabled {
      opacity: .5;
      pointer-events: none;
    }

    .icon {
      width: 14px;
      height: 14px;
    }

    span {
      display: none;
    }
  }

  &__prevBtn {
    .icon {
      transform: rotate(180deg) translateX(1px);
    }
  }

  &__nextBtn {
    .icon {
      transform: translateX(1px);
    }
  }

  &__item {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &.disabled,
    &.active {
      opacity: .5;
      pointer-events: none;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    &.active {
      background-color: $accent-color;
      color: #fff;
    }

    &:hover {
      background-color: $accent-color;
      color: #fff;
    }
  }

  &__rest {
    opacity: .5;
    margin: 0 5px;
  }

  @media screen and (min-width: 991px) {

    font-size: inherit;

    &__list {
      margin: 0 20px;
    }

    &__arrowBtn {
      margin: 0;

      border: none;
      border-radius: 0;
      width: auto;
      height: auto;

      .icon {
        width: 16px;
        height: 16px;
      }

      span {
        display: block;
      }


      &:hover {
        background-color: transparent;
        border-color: transparent;
        color: $accent-color;

        path {
          stroke: $accent-color;
        }
      }
    }

    &__prevBtn {
      .icon {
        margin-right: 10px;
      }
    }

    &__nextBtn {
      .icon {
        margin-left: 10px;
      }
    }


    &__item {
      width: 62px;
      height: 62px;
    }
  }

}

@import "forms";
@import "dialog";
@import "header";
@import "hero";
@import "buttons";
@import "services-widget";
@import "team-slider";
@import "advantages";
@import "reviews";
@import "companies";
@import "callback-widget";
@import "footer";