<!doctype html>
html(lang="ru")
    head

        base(href='../')
        include ../_meta
        block scripts
            include ../_head-scripts

    body(style="background-color: #F3D6C6;")
        section.overflow
            include ../_header
            section.tail
                section.lead
                    .container
                        .lead__inner
                            .lead__picture
                                img.lazy(data-src='./img/reviews-lead-pic.jpg', alt='').only-desktop
                                img.lazy(data-src='./img/reviews-lead-pic-m.jpg', alt='').only-mobile
                            .lead__content
                                header.lead__header
                                    button.lead__backBtn(type='button', aria-label='Назад')
                                        i.icon.paste-sprite-arrow-left-icon
                                        span Назад
                                    h1.lead__title Отзывы <br>пациентов

                                footer.lead__footer
                                    button.button.button--outlined(type='button', aria-label='Оставить отзыв').js-open-dialog(data-dialog-id="review")
                                        span Оставить отзыв

                section.feedbacks-lib
                    .container
                        .feedbacks-lib__inner
                            .feedbacks-lib__list
                                - for (let i = 0; i < 5; i++)
                                    section.feedbacks-lib__item
                                        section.review-card.expandable
                                            header.review-card__header
                                                p.review-card__ava FH
                                                section.review-card__description
                                                    p.review-card__name Имя Фамилия
                                                    p.review-card__location
                                                        i.icon.paste-sprite-location-icon
                                                        | Сетубал, Лиссабон
                                            section.review-card__tail.expandable__content
                                                p Сегодня к нам с визитом на дом приходил доктор Иван Проценко.  Вызов был для ребёнка 12 лет. Пунктуальный, доброжелательный, компетентный и сразу расположил к себе.Внимательно выслушал  наши симптомы, осмотрел, вежливо прокомментировал наши самостоятельные попытки лечения и по совокупности, доктор дал  все необходимые рекомендации и назначил лечение.
                                            button.review-card__expandBtn.expandable__button.button.button--outlined(type='button')

                            .feedbacks-lib__pagination
                                section.pagination
                                    a.pagination__prevBtn.pagination__arrowBtn(href="#")
                                        i.icon.paste-sprite-caret-left-icon
                                        span Предыдущая cтраница
                                    ul.pagination__list
                                        li.pagination__item
                                            a.pagination__link(href="#") 1
                                        li.pagination__item
                                            a.pagination__link(href="#") 2
                                        li.pagination__rest ...
                                        li.pagination__item
                                            a.pagination__link(href="#") 8
                                        li.pagination__item
                                            a.pagination__link(href="#") 9
                                    a.pagination__nextBtn.pagination__arrowBtn(href="#")
                                        span Следующая cтраница
                                        i.icon.paste-sprite-caret-left-icon
                include ../_callback-widget
            include ../_footer
        include ../_dialogs
        .sprite(aria-hidden="true", style="display: none;")
            include ../../img/sprite.svg


        include ../_footer-scripts.html
        script(defer,src='./js/main.js')
        script(defer,src='./js/reviews-page.js')
        script(defer,src='./js/libs.min.js',onload="libLoaded()")